.root {
  width: calc(100% + var(--mantine-spacing-md) * 2);
  margin-inline: calc(var(--mantine-spacing-md) * -1);
  height: var(--card-height);
  min-height: 0;
}

.control {
  &[data-inactive] {
    opacity: 0;
    cursor: default;
    pointer-events: none;
  }
}
